/* google fonts ==>*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;600;700;800;900&display=swap');
/* =======================> */

*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Work Sans', sans-serif;
}
/* --------->
 header styles part start 
  =======================*/
header{
    background-color: #fff4E7;
    width: 100%;
    height: 1232px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 6%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-right: 50px ;
}
.nav-titel{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 102px;
    
}
.navbar{
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    margin-top: 118px;
}
.header-info{
    margin-top: 120px;
}
.header-titel{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    width: 870px;
    text-align: center;
    margin-left: 200px;
}
.header-details{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 868px;
    height: 52px;
    text-align: center;
    margin-left: 250px;
    margin-top: 30px;
}
.btn-primary{
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    padding: 20px 25px;
    background: #ff900e;
    border-radius: 5px;
    margin-left: 550px;
    margin-top: 45px;
}
.header-banner img{
    width: 1140px;
    margin-left: 120px;
    margin-top: 50px;
    border-radius: 8px;
}
/* --------->
  header styles part end 
  =======================*/

/* --------->
  features styles part start 
  ======================= */
  .features{
    display: flex;
  }
  .feature{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    border-radius: 5px;
    margin-left: 90px;
    margin-top: 130px;
  }
  .features-descrption{
    margin-top: 380px;
    margin-left: 40px;
  }
  .description-main-titel{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
  }
  .description-main-titel span{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
  }
  .description-sub-titel{
    font-weight: 700;
    font-size: 45px;
    color: #ff900e;
  }
  .description-info{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 500px;
    margin-top: 24px;
  }
.btn-secondry{
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background: #ff900e;
    padding: 20px 25px;
    border-radius: 5px;
    margin-top: 45px;
}
/* --------->
  features styles part end 
  =======================*/

  /* --------->
  experience styles part start 
  =======================*/
.experience{
    display: flex;
    margin-top: 130px;
    margin-left: 80px;
    
}
.experience-titel{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    width: 468px;
    border-left: 5px solid #FF900E ;
    padding-left: 20px;
}
.experience-sub-titel{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 586px;
    margin-top: 24px;
    margin-bottom: 30px;
}
.experience-info-titel{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.experience-info-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
     width: 514px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.experience-banner img{
    width: 500px;
    height: 700px;
    margin-left: 50px;
}
.experience-btn h4{
    font-weight: 700;
    font-size: 65px;
    color: #fff;
}
.experience-btn p{
    font-weight: 500;
    font-size: 25px;
    color: #fff;
}
.experience-btn{
    padding: 45px 42px;
    background-color: #ff900e;
    border-radius: 5px;
    margin-top: -95px;
    margin-left: -30px;
}
/* --------->
  experience styles part end 
  =======================*/
/* --------->
  facts styles part start 
  =======================*/
.facts{
    margin-top: 160px;
    margin-left: 55px;
}
  .fact-titel{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}
.fact-info{
    width: 542px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 120px;
}
.fact-charts{
    display: flex;
    justify-content: space-around;
}
.chart{
    width: 240px;
    height: 240px;
    border-radius: 8px;
    border: 5px solid #FF900E;
    text-align: center;
    transition: transform 2s;
}
.chart:hover{
    transform: rotate(45deg);
    background-color: #ff870e55;
    border: 2px solid rgba(245, 80, 80, 0.738);
}
.chart img{
    margin-top: 45px;
    margin-bottom: 10px;
}
.chart-amount{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.chart-about{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
/* --------->
  facts styles part end 
  =======================*/

  /* --------->
  service styles part start 
  =======================*/
.our-service h1{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
    margin-top: 120px;
    
}
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-left: 40px;
    margin-top: 100px;
    
}
.service{
    width: 400px;
    text-align: center;
    background: linear-gradient(#ff8f0eb5,rgba(255, 0, 0, 0.66));
    border-radius: 5px;
} 
.service:hover{
    background: linear-gradient(#2e5af7b5,rgba(255, 0, 0, 0.66));
    border: 2px solid black;
}
.service img{
    width: 40px;
    padding-top: 10px;  
}

.service-titel{
    font-weight: 700;
    font-size: 30px;
    color: #131313;
    margin-bottom: 15px;
}
.service p{
    font-weight: 500;
    font-size: 20px;
    color: #424242; 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
}
/* --------->
  service styles part end
  =======================*/

/* --------->
  sponsors styles part start
  =======================*/
  .sponsors-titel{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 180px;
    margin-bottom: 10px;
    text-align: center;
  }
  .sponsors-info{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 0 auto;
    text-align: center;
    width: 542px;

  }
  .sponsor-company{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  }
  .sponsors-company img{
    filter: grayscale(100%);
  }
/* --------->
  sponsors styles part end 
  =======================*/
/* --------->
  footer styles part start 
  =======================*/
  .footer{
    width: 1000px;
    background: #fff4E7;
    margin-top: 130px;
    margin-bottom: 100px;
    margin-left: 190px;
  }
  .footer-info{
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
  }
/* --------->
  footer styles part end 
  =======================*/

  @media only screen and (max-width:688px){
    header{
      width: 100%;
      height: 1100px;
    }
    nav{
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }
    nav ul li{
      width: 100%;
      margin: 0px;
      text-align: center;
    }
    .header-details, .header-info, .header-titel, .navbar, .nav-titel{
      width: 100%;
      margin-left: 0px;
    }
    .header-banner img{
      width: 100%;
      margin: 0px;
    }
    .btn-primary{
      margin-left: 0;
    }
    .feature{
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
    }
    .features{
      flex-direction: column;
      width: 100%;
      margin-left: 0px;
    }
    .description-main-titel{
      width: 100%;
    }
    .description-info{
      width: 100%;
    }
    .experience{
      display: grid ;
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      padding: 0px;
      margin: 0px;
    }
    .experience-banner{
      width: 100%;
      padding: 0px;
      margin: 0px;
    }
    .experience-titel, .experience-sub-titel, .experience-info-description, .experience-info-titel{
      width: 100%;
      padding: 0px;
      margin: 0px;
    }
    .experience-info-description{
      width: 100%;
    }
    .fact-titel{
      width: 100%;
    }
    .fact-info{
      width: 100%;
    }
    .fact-charts{
      flex-direction: column;
      gap: 55px;
    }
    .services{
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
    .sponsors-titel{
      width: 100%;
    }
    .sponsors-info{
      width: 100%;
    }
    .sponsor-company{
      flex-direction: column;
      align-items: center;
    }
    .footer{
      width: 100%;
      margin: 0px;
    }
    .footer-info{
      width: 100%;
      margin: 0px;
      padding: 0px;
    }
  }